body{
	margin:0px;
	font-family: Sofia Pro;
	width:100vw;
	height:100vh;
}
.search{
	display: flex;
}
.toggle{
	display:none;
	float: left;
	margin-left: 40px;
	.nav-line{
		margin-bottom: 3px;
		background-color:black;
		width:22px;
		height:2px;
	}
}
.top{
	width:100vw;
	height:100vh;
	background-size: cover;
	#top-det{
		position: relative;
		z-index: 1;
	}
	#top-images{
		width:100vw;
		overflow: hidden;
		position:absolute;
		top:0px;
		z-index:0;
		#t-image{
			display: flex;
		}
	}
	img{
		width:100vw;
		height:100vh;
	}
	#pic-info{
		margin-right:150px;
		float:right;
		overflow:hidden;
		width:25vw;
		
	
	}
	.picinfo{

		display: flex;
	}
	.pic-info{
		width:25vw;
		
		h2{
		font-weight: 500;
		margin-top: 15vh;
		color:white;
		
		width:25vw;}
		button{
			
			margin-top: 10vh;
			float:right;
			width:200px;
			height:45px;
			background-color: black;
			border:2px solid white;
			color:white;
			font-size:18px;
		}
		button:hover{

		cursor: pointer;
		border:2px solid black;
		background-color: white;
		color:black;
	}
	}
}
.first-nav{
background-color: white;
width:100vw;
display:flex;
align-items: center;
justify-content: flex-end;
input{
	width:25vw;
	height:30px;
	box-sizing: border-box;
	padding:12px;
}
button{
	background-color: purple;
	border:0px;
	width:30px;
	height:30px;
	box-sizing: border-box;
	i{
		color:white;
	}
}
ul{
	float:right;
	li{
		display:inline;
		margin-right:30px;
		a{
			font-size:14px;

			color: grey;
			text-decoration: none;
			
		}
	}
}
}
.second-nav{
background-color: #E6E6E6;
width:100vw;
display:flex;
align-items: center;
justify-content: center;
ul{
	li{
		display:inline;
		margin-right:30px;
		a{
			font-size:14px;
			font-weight: bold;
			color: black;
			text-decoration: none;
			
		}
	}
	li:hover{
		border-bottom:2px solid black;
	}
}}
.track{
	display: flex;
	position: absolute;
	top:95vh;
	left:49vw;

}
.circles{
	background-color: #B3B3B3;
	width:10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 3px;
}
.active{
	background-color: white;
}
.about{
	margin-top: 10vh;
	margin-left: 50px;
	button{
			position:absolute;
			z-index: 2;
			margin-top: 10vh;
			width:200px;
			height:45px;
			background-color: white;
			border:2px solid black;
			border-radius: 25px;
			color:black;
			font-size:18px;
	}
	button:hover{
		cursor: pointer;
		border:2px solid grey;
		background-color: black;
		color:white;
	}
	
	h2{
		font-size: 38.17px;
	}
	p{
		font-weight:300;
		color:grey;
		line-height: 200%;
		font-size:16px;
		width:40vw;
	}
	.shortInfo{
		display: flex;
		margin-top: 10vh;
		

	}
}
.values{
			display: flex;
			flex-direction: column;
			width: 15vw;
			height: 120px;
			align-items: center;
						background-color: #FCF8F5;
			margin-right: 20px;
			.result{
				font-size: 30px;
				font-weight: 700;
				margin-bottom: -20px;
			}
			.question{
				font-size:12px;
				color:black;
				font-weight: bold
			}
		}
	.grand{
		position:relative;
		top:-500px;
		display: block;
	}
	#Layer_2{
		position:relative;
		top:-550px;
		display: block;
	}
	.svgs{
		width: 100vw;
		height:100px;
	}
	#path{
		margin-top:20vh;
		width:100vw;
		height:31vh;
	}
	.artwork{
		width:200px;
		margin-right:40px;
		p{
			font-size: 20px;
			font-family: Sofia Pro;
			font-weight:700;
			line-height: 50%;
			letter-spacing: 2px;

		}
		button{
			width:100px;
			height:40px;
			background-color: white;
			border:2px solid black;
			color:black;
			font-size:16px;
			font-weight: bold;

		}
		button:hover{
		cursor: pointer;
		border:2px solid white;
		background-color: black;
		color:white;
	}
		img{
			border:5px solid black;
			width:200px;
			height:250px;
		}
	}
	#artworks{
		margin:10vh 0px 0 40px;
		display: flex;


	}
	#collection{
		overflow: hidden;
		width:100vw;
		color:white;
		position:relative;
		top:-150px;
		
		h2,h3{
			margin-left: 40px;
		}
		button:hover{
		cursor: pointer;
		background-color: black;
		color:white;
	}
	}
#col-b{
	float: right;
	background-color: #AF813E;
	border:0px;
	width:50px;
	height:30px;
	color:white;
	position: relative;
	left:-250px;
	 margin-top: 40px
}
	#categories{
		width:100vw;
		overflow-x: hidden;
		margin-top: 10vh;
		ul{
			margin-left: 25vw;
			width:80vw;
			margin-top: 10vh;
			margin-bottom: 10vh;
			display: flex;
			align-items:center;
			justify-content: center;
			list-style: none;
			li{
				margin-right: 40px;
				
				p{
					text-align: center;
				}
				img{
					width:175px;
					height:175px;
					border-radius:50%;
				}
			}
		}
		.cat-but{
				position: relative;
				left:-20vw;
				top:-10vh;
					float: right;
					background-color: purple;
					 border:0px;
					 width:50px;
					 height:30px;
					 color:white;
				}
				.cat-but:hover{
		cursor: pointer;
		background-color: black;
		color:white;
	}
		
		.track{
	display: flex;
	position:relative;
	top:0;


}
.circles{
	background-color: #B3B3B3;
	width:10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 3px;
}
.active{
	background-color: black;
}
	}
#events{
	
	color:white;
	background-image:url('Images/event.jpg');
	width:100vw;
	height:100vh;
	background-size:cover;
	h2{
		position:relative;
		top:40px;
		z-index: 1;
		font-size: 3em;
		line-height: 10%;
		font-weight: 500;
		margin-left: 40px;
	}
	.card{
		color:white;
		width:30vw;
		float:right;
		margin-right: 40px;
		height:457px;
		background-color:white;
		opacity:0.3;
		z-index: 1;

	}
	.content{
		opacity:0;
		margin-top: -23px;
		z-index: 2;
		position:absolute;
		color:white;
		left:855px;
		width:300px;
		float:right;
		margin-right: 40px;
		height:80vh;
			img{
				margin-top: 5vh;
				width:30vw;
				height:40vh;
			}
			h3{
				margin-top:60px;
				margin-left:20px; 
				font-size: 40px;
				font-weight:500;
				line-height: 0%;
			}
			.red{
				margin-left:20px; 
				margin-top: -10px;
				width:5vw;
				border:2px solid red
			}
			p{
				margin-top:40px; 
				margin-left:20px; 
			font-weight: 200;
			}
		}
		.cactive{
		opacity: 1;
	}

		.e-info{
			position:relative;
			top:80vh;
			z-index: 1;
			display: flex;
			div{
				padding-right: 20px;
				border-right: 2px solid white;
				margin-left:40px;
				margin-right:40px;
			}
			p{
				line-height: 50%;
			}
		}
		.scrolls{
			position:relative;
			z-index: 2;
			top:73vh;
			left:25vw;
			button{
					float: right;
					background-color: #CCCCCC;
					 border:0px;
					 width:50px;
					 height:30px;
					 color:black;
			}
		button:hover{
		cursor: pointer;
		background-color: black;
		color:white;
	}
		}
}
.overlay{
	z-index: 0;
	background-color:black;
	position:relative;
	top:-100vh;
	height:100vh;
	width:100vw;
	opacity: 0.3;
}
#reviews{
	margin-top: 10vh;
	margin-left: 40px;
	margin-right: 40px;
}
form{
	width:35vw;
	margin-right: 10vw;
	input{
		width:25vw;
	height:30px;
	box-sizing: border-box;
	padding:12px;
	margin-bottom:20px;
	}
	label{
		font-weight:bold;
	}
	textarea{
	width:35vw;
	height:40vh;
	box-sizing: border-box;
	padding:12px;
	margin-bottom:20px;
	}
	button{
		background-color:black;
		color:white;
		border:0px;
	width:15vw;
	height:8vh;
	box-sizing: border-box;
	padding:12px;
	margin-bottom:20px;	
	font-size:16px;
	font-weight: bold;
	}
	button:hover{
		cursor: pointer;
		border:2px solid black;
		background-color: white;
		color:black;
	}
}
.review{
	display: flex;
	align-items:center;
	justify-content: center;
	img{
		width:100px;
		height:100px;
		margin-right: 20px;
		border-radius: 50%;
	}
}
#video{
display: flex;
align-items: center;
justify-content: center;
}
footer{
	margin-top: 10vh;
	background-color:black;
	color:white;
	.footer{
		display: flex;
	}
	ul{
		list-style: none;
		width:24vw;
	}
	a{
		font-size: 14px;
		margin-bottom: 20px;

		text-decoration: none;
		color:white;
	}
	li{
		margin-bottom: 10px;
	}
	.socials{
		display: flex;
		li{
			margin-right: 20px;
		}
	}
}
@media screen and (max-width: 1270px) {
#Layer_3{
	transform: scaleY(1.3);
}
#path{
		margin-top:40vh;
		height:10vh;
	}
#categories{
	margin-top:30vh;
	width:100vw;
	ul{
		width:100vw;
		overflow-x: scroll;
		margin-left: 0vw;
		display: flex;
		justify-content: flex-start;
	
}
.track{
	display: none;
}
.cat-but{
	display: none;
}
}
#events{
	.card{
		display: none;
	}
	.content{
		left:60vw;
	}
	.scrolls{
	left:-15vw;
}
}
.svgs{
	#Layer_2{
		display: none;
	}
}

}
@media screen and (max-width: 992px) {
	#collection{
		margin-top: -30px;
		.artwork{
			img{
				height:200px;
			}
		}
	}
	.top{
	#pic-info{
		width:60vw;
	}
	.pic-info{
		float: left;
		
		margin-right: 0px;
		width:100vw;
		button{
			float:left;
			
			margin-right: 0px;
			
		}
	}
}

.top{
	#pic-info{
		margin-left: 10vw;
		margin-top: -30px;
		float: left;
		width:40vw;
	}
	.pic-info{
		width:100vw;
		float: left;
		
		margin-right: 0px;
		h2{
			width:40vw;
		}
		button{
			float:left;
			
			margin-right: 0px;
			
		}
	}
}
.grand{
		position:relative;
		top:-600px;
		display: block;
	}
	#Layer_2{
		position:relative;
		top:-400px;
		display: block;
	}
	.svgs{
		width: 100vw;
		height:10px;
	}
#artworks{
	overflow-x: scroll;
}
#col-b{
	display: none;
}
#Layer_3{
	transform: scaleY(1.3);
}
#path{
		margin-top:40vh;
		height:20vh;
	}
#categories{
	margin-top: 13vh;
	ul{
		display: flex;
		justify-content: flex-start;
	
}
	}

#events{
.card{
	display: none;
}
.content{
	left:60vw;
	img{
		height:200px;
		width:300px;
	}
}
.scrolls{
			left:-10vw;
}
}
.second-nav{
	padding:20px 0px 20px 0px;
}
#Layer_1{
	position:relative;
	top:-540px;
}
}

@media screen and (max-width: 810px) {
#events{
	.e-info{
		display:flex;
		flex-direction: column;
		position: relative;
		top:50px;
		div{
			border-right:0px solid black;
		}
		.datem{
			margin-left: 40px;
			padding-right: 20px;

		}
	}	
	.scrolls{
		margin-top: -150px;
		}
	}
	.svgs{
		#Layer_1{
		position:relative;
		top:-500px;
		display: block;}
	}
	#Layer_3{
		transform: scaleY(1.5);
	}
	#path{
		margin-top:40vh;
		height:13vh;
	}
	#categories{
		margin-top: 7vh;
	}
}
@media screen and (max-width: 710px){
#pic-info{
	width:80vw;
	margin-left:10vw;
}
.pic-info{
	width:80vw;
	h2{
		width:50vw;
	}
}
	#Layer_3{
	transform: scaleY(1.8);
}
#path{
		margin-top:55vh;
		height:10vh;
	}

}

@media screen and (max-width: 580px) {
	.text{
		display: none;
	}
	#events{
	margin-top: 40px;
	height:100vh;
	display: flex;
	flex-direction: column;
	.e-info{
		div{
			border-right:0px solid black;
		}
	}
	.scrolls{
		margin-top: -400px;
	}
	#contents{
		margin-top: 20px;
		margin-left: 20px;
		height:30vh;
		p{
			width:80vw;
		}
		img{
			display: none;
		}
	}
	.content{
		margin-top: 20px;
		position:relative;
		top:0;
		left:-28vw;
	}
	}
	.first-nav{
		justify-content: flex-start;
		width: 100vw;
		ul{
		li{
			margin-right: 25px;
		}}
	}
	.search{
		left:20vw;
		display: flex;
		position: absolute;
		top:65px;
		input{
		width:300px;}
	}
	.top{
	#pic-info{
		width:75vw;
	}
	.pic-info{
		margin-left: 0px;
		margin-right: 0px;
		width:100vw;
		button{
			margin-right: 0px;	
		}
		h2{
			width: 80vw;
		}
	}
}

.about{
	width:100vw;
	p{
		width:80vw;
	}
	.shortInfo{
		margin-left: -40px;
	}
	.values{
		width:30vw;
		margin-right:15px;
	}
}
#Layer_1{
	opacity:0;
}
#Layer_3{
	transform: scaleY(2.1);
}
#path{
		margin-top:65vh;
		height:0vh;
	}
#collection{
	img{
			height:160px;
			width:160px;
			margin-top: -25px;
		}
	h3{
		line-height: 50%;
	}
	p{
		line-height: 50%;
	}
}
#categories{
	margin-top: 15vh;
}
.second-nav{
display:flex;
justify-content: flex-start;

.toggle{
	display: block;
}
ul{
	display:none;
	margin-top: 10vh;
	margin-left:-12vw;
	li{

		display:block;
		text-align: left;
		margin-bottom: 20px;
		a{

			font-size:15px;
			font-weight: 500;
		}
	}
}}
.rev{
	flex-direction: column;
	input,textarea{
		width: 80vw;
	}
	button{
		width:40vw;
	}
}
}
